<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <h2>Our Courts</h2>
  <ion-card>
    <ion-card-header>
      <ion-card-title>AJ Badminton Court, Semenyih</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/court2.jpg" alt="">
      No. 21, Bandar Rinching Semenyih, 43500 <br>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wadah Badminton Court, Kajang</ion-card-title>
    </ion-card-header>
    <img src="assets/court2.jpg" alt="">
    <ion-card-content>
      
      No. 32A, Jade Hills Kajang, 40000 <br>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
